<%- include('partials/header'); -%>

<body>
  <div class="container-fluid body-block">
    <div class="article-blog">
      <div class="row">
        <div class="col-md-10">

          <% for  (var a = 0; a < songs.length; a++) { %>
          <article class="blog-post border border-1 border-secondary rounded p-3 mb-3 ">

            <h2 class="blog-post-title ">
              <a class="text-decoration-none text-dark" href="/posts/<%= songs[a]._id %>"><%=songs[a].title %></a>
            </h2>

            <small class="font-weight-light"><%=songs[a].date %> by
              <a href="#" class="link-secondary"><%= songs[a].author %></a>
            </small>
            <%- songs[a].content.substring(0,500) + "..." %>
             
           
            

            <form action="/<%= songs[a]._id %>/like" method="post">
              <span> <%= songs[a].like %> </span>
              <button type="submit" class="like-button">
                <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png" />
              </button>
              <span class="fw-bold"><%=songs[a].comments.length %> <a href="/posts/<%= songs[a]._id %>"><img
                    src="https://img.icons8.com/material-outlined/24/000000/comments--v1.png" /></a></span>
            </form>




          </article>
          <% } %>

          <nav aria-label="Page navigation example ">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link link-secondary" href="?page=1" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for  (var a = 1; a <= pages; a++) { %>
              <li class="page-item "><a class="page-link link-secondary" href="?page=<%=a; %>"><%= a; %></a></li>
              <% } %>

              <li class="page-item">
                <a class="page-link link-secondary" href="?page=<%=pages%>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="col-md-2">
          <div class="position-sticky row" style="top: 2rem;">
            <div class="p-4 mb-3 rounded about-main">
              <h3 class="">about</h3>
              <p class="mb-0">Introduce others about your favorite artists.</p>
            </div>


            <div class="p-4 some-main">
              <h3 class="">social media</h3>
              <ol class="list-unstyled">
                <li><a class="link-secondary" href="https://github.com/ttran293/my-blog">github</a></li>
                <li><a class="link-secondary"
                    href="https://www.youtube.com/channel/UCnMd6b1tXn4DT8aNgo5wLSA/playlists">youtube</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</body>
<%- include('partials/footer'); -%>