<%- include('partials/head'); -%>
<body>
  <div class="main">
  <%- include('partials/header'); -%>

  <div class="main-block flex-row d-flex">
      <div class="side-main-block my-3 me-3 p-3 border border-dark border-3 rounded">
          <div class="position-sticky row" style="top: 2rem;">
            <div class=" mb-3 rounded about-main mt-3">
              <h4 class="fw-bold">About</h4>
              <p class="mb-0 ps-2" id="about-text">a music blog to share your stories and memories or simply to
                introduce others about your favorite artists.</p>
            </div>


            <div class=" some-main">
              <h4 class="fw-bold">Social media</h4>
              <ol class="list-unstyled">
                <li><a class="text-decoration-none  ps-2 " href="https://discord.gg/gkmAGEbsAG">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-discord" viewBox="0 0 16 16">
                      <path
                        d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z" />
                    </svg> discord</a></li>
                <li><a class="text-decoration-none  ps-2 " href="https://github.com/ttran293/my-blog"><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
                      viewBox="0 0 16 16">
                      <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg> github</a>
                </li>
              </ol>
            </div>

            <div class="theme-settings">
              <h4 class="fw-bold">Themes</h4>
              <div class="theme-switches">
                <div data-theme="light" class="switch" id="switch-1"></div>
                <!-- <div data-theme="dark" class="switch inline-block" id="switch-4"></div> -->
                <!-- <div data-theme="cadetblue" class="switch inline-block" id="switch-2"></div>
                    <div data-theme="coral" class="switch inline-block" id="switch-3"></div> -->
              </div>
            </div>

          </div>
        </div>

        <div class="article-main-block  pb-3 "> <% for  (var a = 0; a < songs.length; a++) { %>
          <article class="blog-post ">

            <% if ( songs[a].url) { %>
            <div class="ratio ratio-2x1 mt-3 " style="--bs-aspect-ratio: 50%;">
              <iframe class="" src="https://www.youtube.com/embed/<%= songs[a].url %>" title="YouTube video"
                allowfullscreen frameborder="0"></iframe>
            </div>
            <%} %>

            <div class="mt-2">
              <span>
                <% if (isLoggedIn) { %>


                <% let alreadylike= false %>
                <% for( let i = 0; i < songs[a].like.length; i++ ) { %>
                <% if (songs[a].like[i].like_username===current_user_info ) { %>
                <% alreadylike= true; %>
                <% break; %>
                <% } %>
                <% } %>

                <% if (alreadylike) { %>
                <i class="fa-solid fa-heart" style="color:red"></i>
                <% } else {%>
                <i id="<%=a%>heart-icon" class="fa-solid fa-heart"
                  onclick="updateLike('<%= songs[a]._id %>','<%= songs[a].title%>', '<%= songs[a].like.length %>', '<%= a %>', '<%= current_user_info %>')">
                </i>
                <% } %>

                <% } else { %>
                <a href="/login"><i class="fa-solid fa-heart"></i></a>
                <% } %>

                <% if (songs[a].like.length >= 2 ) { %>
                <span class="">
                  liked by
                  <% for( let index = 0; index <= 1; index++ ) { %>
                  <a href="/profile/<%= songs[a].like[index].like_username %>" class="text-decoration-none">
                    <%= songs[a].like[index].like_username %></a>
                  <% if (index !== 1){ %>
                  ,
                  <% } %>
                  <% } %>

                  <% if (songs[a].like.length -2 !== 0) { %>
                  and <span id="<%=a%>other-likes">
                    <button type="button" class="border-0 p-0" data-bs-toggle="modal"
                      data-bs-target="#likelist<%=a%>"><%= songs[a].like.length -2 %></button>
                  </span>
                  others
                  <% } %>


                  <div class="like-list-button">
                    <div class="modal fade" id="likelist<%=a%>" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">liked by </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="theme-settings-mobile">
                              <div class="theme-switches">
                                <ul>

                                  <%for( let j = 2; j < songs[a].like.length; j++ ) { %>
                                  <a href="/profile/<%= songs[a].like[j].like_username %>" class="text-decoration-none">
                                    <li> <%= songs[a].like[j].like_username %>
                                  </a></li>
                                  <% }%>

                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </span>
                <% } else if (songs[a].like.length == 0) { %>
                <span id="<%= a %>other-likes" class=" me-2">
                  <%= songs[a].like.length %>
                </span>
                <% } else {%>
                <span class="">liked by </span>
                <span class="" id="<%=a%>other-likes">
                  <a href="/profile/<%= songs[a].like[0].like_username %>" class="text-decoration-none p-0">
                    <%= songs[a].like[0].like_username %></a>
                </span>

                <% } %>


              </span>
              <a class="text-decoration-none" id="" href="/posts/<%= songs[a]._id %>"><i
                  class="fa-solid fa-message"></i></a>
              <span class=" me-2"> <%=songs[a].comments.length %> comments</span>
              <i class="fa-solid fa-hashtag"></i>
              <span class=""> <%=songs[a].tag %> </span>

              <div class="mb-3">
                <span>
                  <a href="/profile/<%= songs[a].author %>" id="blog-title"
                    class="text-decoration-none fw-bold"><%= songs[a].author %></a>
                  posted:
                  <a class="text-decoration-none fw-bold " href="/posts/<%= songs[a]._id %>"><%=songs[a].title %></a>
                </span>
                <br>
                <span>
                  <% if (songs[a].comments.length >= 3) { %>
                  <% for( let index = songs[a].comments.length-2; index <= songs[a].comments.length-1; index++ ) { %>
                  <span>
                    <i class="fa-solid fa-arrow-right-long"></i>
                    <a href="/profile/<%= songs[a].comments[index].comment_user %>" id=""
                      class="text-decoration-none fw-bold"><%= songs[a].comments[index].comment_user %></a>
                    <%=songs[a].comments[index].comment_content %>
                  </span>
                  <br>
                  <% } %>

                  <% } else {%>
                  <% for( let index = 0; index < songs[a].comments.length; index++ ) { %>
                  <span>
                    <i class="fa-solid fa-arrow-right-long"></i>
                    <a href="/profile/<%= songs[a].comments[index].comment_user %>" id=""
                      class="text-decoration-none fw-bold"><%= songs[a].comments[index].comment_user %></a>
                    <%=songs[a].comments[index].comment_content %>
                  </span>
                  <br>
                  <% } %>
                  <% } %>
                </span>
                <div>
                  <button type="button" class="text-center border-0 p-0" data-bs-toggle="modal"
                    data-bs-target="#comment-edit-<%=songs[a].id %>">
                    <i class="fa-solid fa-arrow-right-long"></i>
                  </button>

                  <form action="/comments/home/<%=songs[a].id %>" method="POST">
                    <div class="modal fade" id="comment-edit-<%=songs[a].id %>" data-bs-backdrop="static"
                      data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">
                              please be polite
                            </h5>
                          </div>
                          <div class="modal-body">
                            <label class="form-label" for="commentContent">Comment</label>
                            <input type="text" id="<%=songs[a].id %>commentEdit" name="commentContent"
                              class="form-control form-control-lg border border-2 border-dark rounded-3" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                              close
                            </button>
                            <button id="submit-comment" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">
                              comment
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <p class="fw-light date mt-2"><%=songs[a].date %> </p>
          </article>
          <% } %>
        </div>
      </div>
  </div>
  
  <video autoplay loop muted playsinline id="myVideo">
    <source id="vid-source" src="/video/new.mp4" type="video/mp4">
  </video>

  


  <script src="/scripts/scripts.js"></script>
</body>
<%- include('partials/footer'); -%>