<%- include('partials/header'); -%>

<body>
    <div class="container-fluid body-block article-blog mb-5">
        <div class="py-3 mb-5">
            <article class="blog-post border border-2 border-dark  p-3 mb-3">
                <h1 class="fw-bold"><%=title %></h1>
                <p class="blog-post-meta fw-light"><%=date %> by <a href="#"
                        class="text-decoration-none"><%=author %></a>
                </p>
                <p class=""><%-content %></p>

                <hr style="visibility: hidden;">
                <% if (url) { %>
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/<%= url %>" title="YouTube video" allowfullscreen
                        frameborder="0"></iframe>
                </div>
                <%} %>


            </article>
            <hr class="p-3" style="visibility: hidden;">

            <h2>comment section:</h2>
            <section>
                <div class="comment-section">
                    <div class="">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <% post_comments.forEach(element => { %>
                            <div class="card border border-2 border-dark rounded-3 mt-3">

                                <!-- Display comment here -->

                                <div class="card-body">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-1">
                                                <!-- <svg  -->
                                                <svg class="rounded-circle shadow-1-strong me-3 comment_profile"
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                                </svg>
                                            </div>

                                            <div class="col-9 comment_content">
                                                <p class="text-decoration-none mt-0 fw-bold">
                                                    <%=  element.comment_user %></p>
                                                <p class="mb-0"> <%=  element.comment_content %> </p>

                                            </div>

                                            <div class="text-end comment_date ">
                                                <small
                                                    class=" text-right text-decoration-underline fw-bold"><%=  element.comment_date %></small>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="comment-section">
                    <div class="">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="card border border-2 border-dark rounded-3 mt-3">



                                <div class="card-body">
                                    <div class="">
                                        <div class="row">
                                            <form class="" method="post" action="/posts/<%= postID  %>">

                                                <div class="row">



                                                    <div class="col-13 ">
                                                        <textarea
                                                            class="form-control border border-2 border-dark rounded-3"
                                                            id="textAreaExample" rows="4"
                                                            name="commentContent"></textarea>
                                                        <label class="form-label" for="textAreaExample">Message</label>

                                                        <div class=" mt-2 pt-1">
                                                            <button type="submit"
                                                                class="btn btn-dark btn-lg">comment</button>
                                                        </div>
                                                    </div>


                                                </div>

                                            </form>




                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="media fixed-bottom ">
        <div class="nav-b flex-column flex-md-row align-items-end">
  
          <nav class=" mt-2 mt-md-0 ms-md-auto pb-1">
            <a href="/" class="nav-link mx-2 text-decoration-none nav-a" id="compose"><i class="fa-solid fa-arrow-rotate-left"></i></a>
            <a href="/compose" class="nav-link mx-2 text-decoration-none nav-a " id="compose"><i class="fa-solid fa-plus"></i></a>
            <a href="/profile" class="nav-link mx-2 text-decoration-none nav-a" id="profile"><i class="fa-solid fa-question"></i></a>
  
                                        
            <% if (!isLoggedIn) { %>
            <a href="/login" class="nav-link mx-2 text-decoration-none nav-a" id="logi"><i class="fa-solid fa-angle-right"></i></a>
            <a href="/signup" class="nav-link mx-2 text-decoration-none nav-a" id="signu"><i class="fa-solid fa-angle-up"></i></a>
  
            <%} else { %>
            <a href="/logout" class="nav-link mx-2 text-decoration-none nav-a " id="logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            <% } %>
  
            
          </nav>
        </div>
      </div>
    <script src="/scripts/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>


<%- include('partials/footer'); -%>