<%- include('partials/header'); -%>

<body>
    <section class="login-block-sec">
        <div class="container ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6 mb-3">
                    <div class="card border border-2 border-dark rounded-3 login-block" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2 class="text-uppercase text-center">Profile</h2>
                            <div class="image d-flex flex-column justify-content-center ">
                                <button type="button" class="btn btn-dark mx-auto profile-pic" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    <i class="fa-solid fa-cat"></i></button>
                                
                                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                                    <span class="fw-bold fs-4">@<%= username %> </span>
                                    
                                </div>
                                <div class="d-flex flex-row justify-content-center align-items-center mt-1">
                                   <button type="button" class=" btn btn-outline-dark btn-sm">follow</button>
                                    
                                </div>

                                
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">

                                    <div class="modal-dialog modal-dialog-centered">

                                        <div class="modal-content">
                                            <form action="/profile" method="post">

                                                <input type = "hidden" name = "username" value = <%= username %> />

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">edit profile</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="d-flex justify-content-start">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="dog"
                                                                value="option1" name="inlineRadioOptions">
                                                            <label class="form-check-label" for="dog"><i
                                                                    class="fa-solid fa-dog"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="cat"
                                                                value="option2" name="inlineRadioOptions">
                                                            <label class="form-check-label" for="cat"><i
                                                                    class="fa-solid fa-cat"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="crow"
                                                                value="option3" name="inlineRadioOptions">
                                                            <label class="form-check-label" for="crow"><i
                                                                    class="fa-solid fa-crow"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="dragon"
                                                                value="option4" name="inlineRadioOptions">
                                                            <label class="form-check-label" for="dragon"><i
                                                                    class="fa-solid fa-dragon"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="fish"
                                                                value="option5" name="inlineRadioOptions">
                                                            <label class="form-check-label" for="fish"><i
                                                                    class="fa-solid fa-fish"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="otter"
                                                                value="option6" name="inlineRadioOptions">
                                                            <label class="form-check-label" for="otter"><i
                                                                    class="fa-solid fa-otter"></i></label>
                                                        </div>
                                                    </div>

                                                    <div class="form-outline mt-3">
                                                        <label class="form-label" for="floatingInput">full name</label>
                                                        <input type="text" id="floatingInput" name="nameEdit"
                                                            class="form-control form-control-lg border border-2 border-dark rounded-3" />
                                                    </div>


                                                    <div class="form-outline">
                                                        <label class="form-label" for="floatingInput">bio</label>
                                                        <textarea
                                                            class="form-control border border-2 border-dark rounded-3"
                                                            rows="5" cols="30" name="bioEdit"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">close</button>
                                                    <button type="submit" class="btn btn-primary">submit</button>
                                                </div>
                                            </form>
                                        </div>


                                    </div>

                                </div>

                                <div class="row mt-3">
                                    <div class="col">
                                        <ul class="list-unstyled">
                                            <li class="text-center"><span>posts</span></li>
                                            <li class="text-center"><span><%= posts.length %></span></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-unstyled">
                                            <li class="text-center"><span>followers</span></li>
                                            <li class="text-center"><span><%= followers.length %></span></li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-unstyled">
                                            <li class="text-center"><span>following</span></li>
                                            <li class="text-center"><span><%= following.length %></span></li>
                                        </ul>
                                    </div>
                                </div>




                                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                                    <span class="number"><%= userFullname %></span>
                                </div>
                                <!-- <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div> -->
                                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                                    <span class="number"><%= info %></span>
                                </div>
                                <!-- <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                                    <span><i class="fa fa-twitter"></i></span> <span><i
                                            class="fa fa-facebook-f"></i></span> <span><i
                                            class="fa fa-instagram"></i></span> <span><i
                                            class="fa fa-linkedin"></i></span> </div> -->
                                <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                                    <span class="number"><%= dateJoin %></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <div class="media fixed-bottom ">
        <div class="nav-b flex-column flex-md-row align-items-end">

            <nav class=" mt-2 mt-md-0 ms-md-auto pb-1">
                <!-- <a href="/" class="nav-link px-2 link-secondary">home</a> -->
                <a href="/" class="nav-link mx-2 text-decoration-none nav-a" id="compose"><i
                        class="fa-solid fa-house"></i></a>

                <a href="/compose" class="nav-link mx-2 text-decoration-none nav-a " id="compose"><i
                        class="fa-solid fa-plus"></i></a>
                <!-- <a href="/help" class="nav-link mx-2 text-decoration-none text-dark nav-a badge  ">help</a> -->

                <% if (!isLoggedIn) { %>
                <a href="/login" class="nav-link mx-2 text-decoration-none nav-a" id="logi"><i
                        class="fa-solid fa-right-to-bracket"></i></a>
                <a href="/signup" class="nav-link mx-2 text-decoration-none nav-a" id="signu"><i
                        class="fa-solid fa-user-plus"></i></a>

                <%} else { %>
                <a href="/logout" class="nav-link mx-2 text-decoration-none nav-a " id="logout"><i
                        class="fa-solid fa-right-from-bracket"></i></a>
                <% } %>

                <a href="/profile" class="nav-link mx-2 text-decoration-none nav-a" id="profile"><i
                        class="fa-solid fa-user"></i></a>


            </nav>
        </div>
    </div>
    <script src="/scripts/scripts.js"></script>
</body>
<%- include('partials/footer'); -%>