<%- include('partials/header'); -%>

<body>
    <video autoplay loop muted playsinline id="myVideo">
        <source src="/video/new.mp4" type="video/mp4">
    </video>
    <div class="login-block-sec">
        <div class="container ">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6 mb-3">
                    <div class="card login-block" style="border-radius: 15px;">
                        <div class="card-body">
                            <h2 class="text-uppercase text-center">Profile</h2>
                            <div class="image d-flex flex-column justify-content-center ">

                                <div class="">
                                    <div class="profile-edit ">
                                        <% if (current_user_id == id && isLoggedIn) { %>
                                        <button type="button  flex-fill" class="btn btn-dark mx-auto profile-pic"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                            <i class="fa-solid fa-cloud"></i></button>
                                        <%} else {%>
                                        <button type="button" class="btn btn-dark mx-auto profile-pic">
                                            <i class="fa-solid fa-cloud"></i></button>
                                        <%}%>
                                        <span class="fw-bold fs-4 ms-3">@<%= username %> </span>
                                        <% if (current_user_id != id && current_user_id!=null) { %>
                                      
                                            <% if (!alreadyFollow) { %>
                                            <button id="follow-btn" class="btn"
                                                onclick="updateFollowing('<%= username %>', '<%= current_user_id %>'); this.disabled=true;">
                                                Follow
                                            </button>
                                            <%} else {%>
                                            <button id="" class="btn border-0">
                                                 <i class="fa-solid fa-circle-check"></i>
                                            </button>
                                            <%}%>
                                       
                                            <%}%>
                                            <hr>
                                            <button class="button-profile text-center  rounded ">
                                                <span id=""><%= posts.length %></span>
                                                <span> posts</span>
                                            </button>


                                            <button type="button" class=" button-profile text-center rounded"
                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                                                <span id="follower-num"><%= followers.length %></span>
                                                <span> followers</span>
                                            </button>

                                            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog  modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">Followers
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <% followers.forEach(element => { %>

                                                            <p><a class="text-dark text-decoration-none fw-bold" href="/profile/<%= element.follower_username %>"><i class="fa-solid fa-cloud-arrow-down"></i> <%= element.follower_username %></a></p>
                                                            <% }) %>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="button-profile text-center rounded"
                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                                <span id=""><%= following.length %></span>
                                                <span> following</span>
                                            </button>

                                            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog  modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">following
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <% following.forEach(element => { %>
                                                            <p><a class="text-dark text-decoration-none fw-bold" href="/profile/<%=  element.following_username %>"><i class="fa-solid fa-cloud-arrow-up"></i> <%=  element.following_username %></a></p>
                                                            <% }) %>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>






                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">

                                        <div class="modal-dialog modal-dialog-centered">

                                            <div class="modal-content">
                                                <form action="/profile" method="post">

                                                    <input type="hidden" name="username" value=<%= username %> />

                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">edit profile
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- <div class="d-flex justify-content-start">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="dog"
                                                                    value="option1" name="inlineRadioOptions">
                                                                <label class="form-check-label" for="dog"><i
                                                                        class="fa-solid fa-dog"></i></label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="cat"
                                                                    value="option2" name="inlineRadioOptions">
                                                                <label class="form-check-label" for="cat"><i
                                                                        class="fa-solid fa-cat"></i></label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="crow"
                                                                    value="option3" name="inlineRadioOptions">
                                                                <label class="form-check-label" for="crow"><i
                                                                        class="fa-solid fa-crow"></i></label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="dragon"
                                                                    value="option4" name="inlineRadioOptions">
                                                                <label class="form-check-label" for="dragon"><i
                                                                        class="fa-solid fa-dragon"></i></label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="fish"
                                                                    value="option5" name="inlineRadioOptions">
                                                                <label class="form-check-label" for="fish"><i
                                                                        class="fa-solid fa-fish"></i></label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" id="otter"
                                                                    value="option6" name="inlineRadioOptions">
                                                                <label class="form-check-label" for="otter"><i
                                                                        class="fa-solid fa-otter"></i></label>
                                                            </div>
                                                        </div> -->

                                                        <div class="form-outline mt-3">
                                                            <label class="form-label" for="floatingInput">full
                                                                name</label>
                                                            <input type="text" id="floatingInput" name="nameEdit"
                                                                class="form-control form-control-lg border border-2 border-dark rounded-3" />
                                                        </div>


                                                        <div class="form-outline">
                                                            <label class="form-label" for="floatingInput">bio</label>
                                                            <textarea
                                                                class="form-control border border-2 border-dark rounded-3"
                                                                rows="5" cols="30" name="bioEdit"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">close</button>
                                                        <button type="submit" class="btn btn-primary">submit</button>
                                                    </div>
                                                </form>
                                            </div>


                                        </div>

                                    </div>


                                    <div class=" flex-row justify-content-center align-items-center mt-3">
                                        <span class="number"><%= userFullname %></span>
                                    </div>
                                    <!-- <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div> -->
                                    <div class=" flex-row justify-content-center align-items-center mt-3">
                                        <span class="number"><%= info %></span>
                                    </div>
                                    <!-- <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                                    <span><i class="fa fa-twitter"></i></span> <span><i
                                            class="fa fa-facebook-f"></i></span> <span><i
                                            class="fa fa-instagram"></i></span> <span><i
                                            class="fa fa-linkedin"></i></span> </div> -->
                                    <div class=" flex-row justify-content-center align-items-center mt-3">
                                        <span class="number ">Joined <%= dateJoin %></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="s-media pt-3">
                <span class="inline"><a class="text-decoration-none  ps-2" href="https://discord.gg/gkmAGEbsAG"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-discord" viewBox="0 0 16 16">
                            <path
                                d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z" />
                        </svg> discord</a>
                </span>

                <span class="inline"><a class="text-decoration-none  ps-2"
                        href="https://github.com/ttran293/my-blog"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg> github</a>
                </span>
            </div>

        </div>




        <div class="media fixed-bottom ">
            <div class="nav-b flex-column flex-md-row align-items-end">

                <nav class=" mt-2 mt-md-0 ms-md-auto pb-1">
                    <a href="/home" class="nav-link mx-2 text-decoration-none nav-a" id="compose"><i
                            class="fa-solid fa-house"></i></a>
                    <a href="/compose" class="nav-link mx-2 text-decoration-none nav-a " id="compose"><i
                            class="fa-solid fa-plus"></i></a>
                    <a href="/profile" class="nav-link mx-2 text-decoration-none nav-a" id="profile"><i
                            class="fa-solid fa-cloud"></i></a>


                    <% if (!isLoggedIn) { %>
                    <a href="/login" class="nav-link mx-2 text-decoration-none nav-a" id="logi"><i
                            class="fa-solid fa-volume-high"></i></a>
                    <a href="/signup" class="nav-link mx-2 text-decoration-none nav-a" id="signu"><i
                            class="fa-solid fa-circle-arrow-up"></i></a>

                    <%} else { %>
                    <a href="/logout" class="nav-link mx-2 text-decoration-none nav-a " id="logout">\<i
                            class="fa-solid fa-volume-xmark"></i></a>
                    <% } %>


                </nav>
            </div>
        </div>
        <script src="/scripts/scripts.js"></script>
</body>
<%- include('partials/footer'); -%>