<%- include('partials/head'); -%>


<body>
    <video autoplay loop muted playsinline id="myVideo">
        <source src="/video/new.mp4" type="video/mp4">
    </video>
    <div class="main">
        <%- include('partials/header'); -%>
        <div class="auth-page d-flex flex-column justify-content-center align-items-center">
            <div class="auth-form card mx-auto">
                    <div class="card-body">
                        <%- include('messages.ejs') %>
                        <h4 class="text-uppercase text-center">Create account</h4>
                        <form action="/signup" method="post">
                            <div class="form-outline">
                                <input type="text" id="floatingInput" name="username"
                                    class="form-control form-control-lg border border-2 border-dark rounded-3" />
                                <label class="" for="floatingInput">username</label>
                            </div>
                            <div class="form-outline">
                                <input type="text" id="floatingInput" name="email"
                                    class="form-control form-control-lg border border-2 border-dark rounded-3" />
                                <label class="" for="floatingInput">email (optional)</label>
                            </div>
                            <div class="form-outline">
                                <input type="password" id="floatingPassword" name="userpassword"
                                    class="form-control form-control-lg border border-2 border-dark rounded-3" />
                                <label class="" for="floatingPassword">passwords</label>
                            </div>
                            <div class="form-outline">
                                <input type="password" id="floatingPassword2" name="userpassword_2"
                                    class="form-control form-control-lg border border-2 border-dark rounded-3" />
                                <label class="" for="floatingPassword2">confirm passwords</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-block btn-dark">register</button>
                            </div>
                            <p style="font-size: small;" class="text-center m-0">already have an account? <a href="login"
                                    class="text-dark"><u>login here</u></a></p>
                        </form>
                    </div>
            </div>
        </div>
        <%- include('partials/bottom_nav'); -%>
    </div>

    <script src="/scripts/scripts.js"></script>

    <%- include('partials/footer'); -%>
</body>
